<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270856090279-rv5ubhu4ii1o6q2lnaaem0ec38ll46sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270856090279-rv5ubhu4ii1o6q2lnaaem0ec38ll46sg</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9JwykcVlt55R_HCb5a9yoo87DtpGdDU</string>
	<key>GCM_SENDER_ID</key>
	<string>270856090279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.platziTripssApp</string>
	<key>PROJECT_ID</key>
	<string>platzitripssplatzi</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripssplatzi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270856090279:ios:d534f76b9fa6bcf188e182</string>
</dict>
</plist>